.carouselBackground {
    width: 100%;
    position: absolute;
    background-image: url(./carouselBackground.svg);
    background-size: cover;
    height: 300px;
}

@media only screen and (min-width: 768) {
    .carouselBackground {
        width: 100%;
        position: absolute;
        background-image: url(./carouselBackground.svg);
        background-size: cover;
        max-height: 650px;
    }
}