.middleImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    margin-top: -5rem;
    padding-top: 5rem;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #1D91E3;
    clip-path: polygon(0 5%, 100% 16%, 100% 93%, 0 98%);
}