.blueShape {
    display: flex;
    flex-direction: column;
    height: 22rem;
    margin-top: -5rem;
    padding-top: 3rem;
    align-items: center;
    text-align: center;
    color: white;
    text-align: center;
    background-color: #1D91E3;
    clip-path: polygon(0 16%, 100% 5%, 100% 95%, 0 84%);
    width: 100%;
}